.navbar-container{
    background-color: darkblue;
    height: 10vh;
    width: 100%;
}

.menu-ıtem{
    padding: 5px;
}

.link-item{
color: cornsilk;
font-size: 1rem;
cursor: pointer;
text-decoration: none;
font-family:'Oswald',sans-serif;

}